html {
    overflow: hidden;
    position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    background-image: url('../images/heroImgFishing.jpeg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-y: scroll;
    text-shadow: 10px;
    color: white;
    overflow-y: scroll;
}

.header {
    font-size: larger;
    font-weight: lighter;
    margin: 13px;
}

nav{
    background-color: skyblue;
    color: black;
}

label {
    font-weight: lighter;
    color: white;
}

section {
    background-color: black;
    opacity: 0.5;
}

#bass {
    color: yellow;
    font-weight: bolder;
}

#buddy {
    color: green;
    font-weight: bolder;
}

#footer {
    background-color: skyblue;
    padding: 20px;
    font-weight: bolder;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}